<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="scss/Reports/Reports.css" />
  <link rel="stylesheet" href="../../node_modules/datatables.net-dt/css/jquery.dataTables.css" />
  <title>تقرير</title>
</head>

<body>
  <main dir="rtl" class="mx-5 mt-2 mb-5" id="Expenses-general">
    <section class="my-5 py-3">
      <h1 class="text-center py-2 border-bottom border-3 mb-5 border-dark"></h1>
      <table id="mytable" class="display table-striped"></table>
    </section>

    <div class="row mt-5">
      <button id="excelButton" , onclick="printReport('xlsx')" type="submit"
        class="col-6 btn btn-success text-center rounded-pill">
        تحويل لملف اكسيل
      </button>
      <button id="PrintButton" onclick="printReport('pdf')" class="col-6 btn btn-success text-center rounded-pill">
        طباعة
      </button>
    </div>
  </main>

  <script>
    let GlobalData = {};
    window.api.receive("getReportDataFromMain", (data) => {
      data["headers"].unshift("م");
      for (let i = 0; i < data["rows"].length; i++) {
        data["rows"][i].unshift(i + 1);
      }
      GlobalData = data;
      const h1 = document.querySelector("h1");
      const table = document.querySelector("table");
      const thead = document.createElement("thead");
      const tbody = document.createElement("tbody");

      h1.innerText = data["title"];

      let tableHeader = `<tr>`;
      data["headers"].forEach((header) => {
        tableHeader += `<td>${header}</td>`;
      });
      tableHeader += `</tr>`;
      thead.innerHTML = tableHeader;
      let tableData = "";
      let count = 0;
      data["rows"].forEach((row) => {
        tableData += `<tr>`;
        row.forEach((el) => {
          tableData += `<td>${el}</td>`;
        });
        count++;
        tableData += `</tr>`;
      });
      tbody.innerHTML = tableData;

      table.appendChild(thead);
      table.appendChild(tbody);
    });
    window.api.send("ScriptLoaded", null);
  </script>
  <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../../node_modules/datatables.net/js/jquery.dataTables.js"></script>
  <script>
    function printReport(extension) {
      window.api.send("printReport", {
        data: {
          rows: GlobalData["rows"],
          subHeaders: GlobalData["headers"],
          title: GlobalData["title"],
        },
        extension,
      });
    }
    $(document).ready(function () {
      $("#mytable").DataTable({
        searching: true,
        ordering: false,
      });
    });
  </script>
</body>

</html>