<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./scss/exams.css" />
    <title>تقارير على مستوى المراحل</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" dir="rtl">
      <div class="container">
        <a class="navbar-brand" href="#">معهد الوفاء</a>
        <button
          class="navbar-toggler me-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="me-auto">
            <button class="d-inline-block btn btn-warning rounded-pill mx-md-3">
              <a
                class="text-decoration-none text-dark"
                onclick='window.api.send("getEssentialData", "affairsHome");'
                >شؤون الطلاب</a
              >
            </button>
          </div>
        </div>
      </div>
    </nav>

    <main class="container mt-5 pt-5" dir="rtl">
      <h1 class="text-center">تقارير على مستوى المراحل</h1>
      <div class="row my-3" dir="rtl">
        <div class="col-md-4 col-12">
          <select
            class="form-select"
            aria-label="Default select example"
            id="StageList"
          >
            <option value="0" disabled selected>اختار المرحلة</option>
            <option value="0">بلا اختيار</option>
          </select>
        </div>
        <div class="col-md-4 col-12">
          <select
            class="form-select"
            disabled
            aria-label="Default select example"
            id="GradeList"
          >
            <option value="0" disabled selected>اختار الصف</option>
            <option value="0">بلا اختيار</option>
          </select>
        </div>
        <div class="col-md-4 col-12">
          <select
            class="form-select"
            disabled
            aria-label="Default select example"
            id="ClassList"
          >
            <option value="0" disabled selected>اختار الفصل</option>
            <option value="0">بلا اختيار</option>
          </select>
        </div>
      </div>
      <div class="row my-3" dir="rtl">
        <div class="col-md-4 col-12">
          <select
            class="form-select"
            onchange="reportSelectChange()"
            aria-label="Default select example"
            id="reportType"
          >
            <option value="StudentsAges" selected>اعمار الطلاب</option>
            <option value="motherData">بيانات الأم</option>
            <option value="jobReport">بيانات على حسب الوظيفة</option>
            <option value="idReport">بيانات الرقم القومي للطالب</option>
          </select>
        </div>
        <div class="col-md-4 col-12">
          <select
            class="form-select"
            hidden
            aria-label="Default select example"
            id="jobsDataSelect"
          >
            <!-- <option value="StudentsAges" selected>اعمار الطلاب</option> -->
          </select>
        </div>
      </div>
      <div class="d-flex" dir="rtl">
        <div class="col-12 my-5 text-center">
          <button
            type="submit"
            class="rounded-pill btn btn-success w-50"
            onclick="getReport()"
          >
            طباعة التقرير
          </button>
        </div>
      </div>
    </main>
    <script>
      function reportSelectChange() {
        let reportType = document.getElementById("reportType").value;
        if (reportType === "jobReport") {
          document.getElementById("jobsDataSelect").hidden = false;
        } else {
          document.getElementById("jobsDataSelect").hidden = true;
        }
      }
      function getReport() {
        const StageId = document.getElementById("StageList").value;
        const GradeId = document.getElementById("GradeList").value;
        const ClassId = document.getElementById("ClassList").value;
        const reportType = document.getElementById("reportType").value;
        let JobId = document.getElementById("jobsDataSelect").value;
        console.log(StageId, GradeId, ClassId);
        if (reportType === "jobReport") {
          window.api.send("sendAffairsReportData", [
            "jobReport",
            [JobId, Number(StageId), Number(GradeId), Number(ClassId)],
          ]);
        } else {
          window.api.send("sendAffairsReportData", [
            reportType,
            [Number(StageId), Number(GradeId), Number(ClassId)],
          ]);
        }
      }
      window.api.receive("sentEssentialData", ({ stagesData, jobs }) => {
        console.log(jobs);
        //fill jobs
        let jobsDataSelect = document.getElementById("jobsDataSelect");
        jobs.forEach((j) => {
          const option = document.createElement("option");
          option.value = j.JobId;
          option.innerText = j.JobName;
          jobsDataSelect.appendChild(option);
        });
        // stages
        const StageList = document.getElementById("StageList");
        const GradeList = document.getElementById("GradeList");
        const ClassList = document.getElementById("ClassList");
        stagesData.forEach((stage) => {
          const option = document.createElement("option");
          option.setAttribute("value", stage.StageId);
          option.innerText = stage.StageName;
          StageList.appendChild(option);
        });

        StageList.addEventListener("change", function () {
          let StageId = this.value;
          stagesData.forEach((stage) => {
            if (stage.StageId == StageId) {
              // remover all elements in grade list
              const GradeList = document.getElementById("GradeList");
              for (let i = GradeList.length - 1; i >= 0; i--) {
                GradeList.remove(i);
              }
              // fill Grades
              let Grades = stage.Grades;
              const option = document.createElement("option");
              option.setAttribute("value", "0");
              option.innerText = "بلا اختيار";
              GradeList.appendChild(option);
              Grades.forEach((grade) => {
                const option = document.createElement("option");
                option.setAttribute("value", grade.GradeId);
                option.innerText = grade.GradeName;
                GradeList.appendChild(option);
              });
              GradeList.disabled = false;
            }
          });
        });

        GradeList.addEventListener("change", function (ev) {
          let StageId = document.getElementById("StageList").value;
          let GradeId = this.value;
          stagesData.forEach((stage) => {
            if (stage.StageId == StageId) {
              stage.Grades.forEach((grade) => {
                if (grade.GradeId == GradeId) {
                  // remover all elements in class list
                  const ClassList = document.getElementById("ClassList");
                  for (let i = GradeList.length - 1; i >= 0; i--) {
                    ClassList.remove(i);
                  }
                  // fill Grades
                  let Classes = grade.Classes;
                  const option = document.createElement("option");
                  option.setAttribute("value", "0");
                  option.innerText = "بلا اختيار";
                  ClassList.appendChild(option);
                  Classes.forEach((clas) => {
                    const option = document.createElement("option");
                    option.setAttribute("value", clas.ClassId);
                    option.innerText = clas.ClassName;
                    ClassList.appendChild(option);
                  });
                  ClassList.disabled = false;
                }
              });
            }
          });
        });
      });
      window.api.send("ScriptLoaded", null);
    </script>
    <script src="../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
